@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(/reset.css);
@import url(/styles/header.css);
@import url(/styles/about.css);
@import url(/styles/vagas.css);
@import url(/styles/comentarios.css);
@import url(/styles/rodape.css);

:root {
    --cinza: #3A404E;
    --cinza-claro: #667085;
    --vinho: #8E2424;
    --azul-escuro: #101828;
    --branco: #FFFFFF;
    --rosa-claro: rgb(142, 36, 36, .07);
    --fonte-principal: "Inter", sans-serif;
    --off-white: #EAECF0;
    --bg-cinza: #F9FAFB;
    --cinza2: #98A2B3;
}

body {
    background-color: var(--branco);
    color: var(--azul-escuro);
    font-family: var(--fonte-principal);
    font-size: 16px;
}